{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier", "jsdoc"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:jsdoc/recommended",
        "prettier"
    ],
    "rules": {
        "quotes": ["warn", "double"],
        "no-empty": ["warn"],
        // "no-unused-vars": "warn",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-namespace": "off",
        "prefer-const": "warn",
        // "require-jsdoc": [
        //     1,
        //     {
        //         "require": {
        //             "FunctionDeclaration": true,
        //             "MethodDefinition": true,
        //             "ClassDeclaration": false
        //         }
        //     }
        // ],
        "jsdoc/require-param-type": "off",
        "jsdoc/require-param-description": "off",
        "jsdoc/require-returns-type": "off"
    }
}
